/* configurações globais */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    font-family: 'Times New Roman', Times, serif;
  
    color: #fff;
  }
  /* tamanho e display tipo grid do container geral */
  .container {
    height: 100%;
    width: 100%;
    background-color: #1F6A8F;
    box-sizing: border-box;
  
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 7% 86% 7%;
  
  }
  /* estilizaçãodo cabeçalho */
  header {
    grid-area: header;
    background-color: #FA7F00;
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 1.9rem;
    font-weight: bold;
  }

  .btn-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-left: 20%;
  }

  .inputs {
    height: 45px;
    width: 256px;
  }

  input[type="password" i] {
    height: 100%;
    width: 70%;
    border-radius: 3px;
    border: none;
  }

  input::-webkit-input-placeholder {
    font-size: 1rem;
  }

  input::-moz-placeholder {
    font-size: 1rem;
  }


  input[type="submit" i] {
    height: 100%;
    width: 25%;
    background-color: #FA7F00;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    box-sizing: border-box;
    color: #fff;
    transition: all 0.3s;
  }

  input[type="submit" i]:hover {
    background-color: orange;
    transition: all 0.3s;
  }

  .linkAcess {
    height: 20px;
    padding: 10px;
    background-color: #FA7F00;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
  }

  .linkAcess:hover {
    background-color: orange;
    transition: all 0.3s;
  }

  /* alinhamento e overflow do conteúdo principal da página */
  main {
    grid-area: main;
    text-align: center;
  
    overflow-y: auto;
    overflow-x: hidden;
  }
  /* fonte do subtítulo */
  main h4 {
    margin: 70px 0;
    font-size: 1.4rem;
  }
  /* tamanho e cor dos botões */
  .button_Accordion {
    width: 60%;
    height: 8%;
    background-color: #FA7F00;
    border: none;
  
    color: #fff;
    
  }
  /* alinhamento do texto do label */
  .button_Accordion {
    text-align: left;
    font-size: 1rem;
  }
  /* alinhamento do span e tamanho da fonte */
  .button_Accordion span {
    float: right;
    font-weight: bold;
    font-size: 1.3rem;
  }
  /* efeito ao passar o mouse pelo botões */
  .button_Accordion:hover {
    background-color: orange;
    transition: 0.5s;
  }
  /* Tamanho e overflow das tabelas */
  .panel {
    width: 60%;
    margin: 0 20%;
    background-color: #fff;
    display: none;
  
    height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  /* classe que ativa o painel das tabelas ao clicar no mouse */
  .active {
    display: block;
  }
  /* largura e estilização das tabelas */
  .panel table {
    border-collapse: collapse;
    width: 100%;
  }
  /* estilização dos itens dentro das tabelas */
  .panel th, td {
    padding: 5px;
    text-align: left;
    box-sizing: content-box;
    border: 1px solid #1F6A8F;
    text-align: center;
    font-size: 1.2rem;
    color: #1F6A8F;
  }
  /* estilização do rodapé */
  footer {
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
    font-size: 1.2rem;
  }
  /* cor do link do meu repositório */
  .secret {
    color: white;
    text-decoration: none;
  }
  /* efeito ao passar o mouse no link secreto */
  .secret:hover {
    color: #FA7F00;
  }
  
  /* Responsividade - adpatações da largura dos botões em diferentes tipos de dipositivos*/
  
  @media screen and (max-width: 1200px) {
    .button_Accordion {
      width: 70%;
    }
  
    .panel {
      width: 70%;
      margin: 0 15%;
  
      overflow-x: auto;
    }
  }
  
  @media screen and (max-width: 900px) {
    .button_Accordion {
      width: 80%;
    }
  
    .panel {
      width: 80%;
      margin: 0 10%;
  
      overflow-x: auto;
    }
  }
  
  @media screen and (max-width: 500px) {
    .button_Accordion {
      width: 95%;
    }
  
    .panel {
      margin: 0 2.5%;
      width: 95%;
      overflow-x: auto;
    }
  }